<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSV.Properties.Settings.SinhVienConnectionString"
            connectionString="Data Source=DESKTOP-EP2QMTE\SQLEXPRESS;Initial Catalog=SinhVien;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>